html, body { width:100%; height:100%; overflow: hidden; } 

.App {
    font-family: sans-serif;
    text-align: center;
    height: 100vh;
    width: 100vw;
}
  
/* 
.canvas-container {
    border: 1px solid black;
    height: 400px;
    width: 600px;
} */
